:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #080808;

  font-synthesis: none; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: auto;
}

.MemePro, .MemeProInverted {
  opacity: 0%;
  transition: opacity 0.5s ease-in 1s;
}

.MemePro.is-visible, .MemeProInverted.is-visible {
  opacity: 100%;
  z-index: 1;
}

.MemeProInverted {
  transform: scaleX(-1);
}

.MemeTwenty {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.MemeDisco {
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease-in-out;
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.MemeDisco.visible {
  opacity: 0.4;
}

.MemeDiscoText {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  padding: 16px;
  z-index: 1; /* Esto asegura que el contenido (hijo) esté sobre el pseudo-elemento */
}

.MemeDiscoText::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 50%;
  background-image: url(https://i.imgur.com/CFa1gZt.gif);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  opacity: 0.5; /* Aplica la opacidad solo al fondo */
  pointer-events: none;
  z-index: -1; /* Mueve el pseudo-elemento detrás del contenido */
  border-radius: 16px;
  box-shadow: 0px 0px 16px 16px #080808;
}

.NavbarParty {
  font-size: 24px;
  background-image: linear-gradient(to bottom, #1e0041 25%, #080808);
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 100px;
  margin-bottom: 50px;
  overflow: auto;
  justify-content: center;
  top: 0;
  z-index: 0;
}

.NavbarLinkPro {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #450d86;
  padding: 0px 8px 0px 8px;
  border: solid 1px white;
  border-radius: 16px;
  transition: 0.2 ease-in-out;
}

.NavbarLinkPro:hover {
  background-color: white;
  border: solid 1px #450d86;
}

.NavbarPro {
  font-size: 24px;
  background-image: linear-gradient(to bottom, #1e0041 25%, #080808);
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  overflow: auto;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.NavbarGradient {
  background-image: linear-gradient(to bottom, #080808 20%, #08080800);
  display: flex;
  width: 100%;
  height: 102px;
  overflow: auto;
  position: sticky;
  top: 102px;
  z-index: 2;
}

.NavbarIMG{
  margin: 8px;
  width: 86px;
  height: 86px;
  border-radius: 100px;
  margin-right: auto;
}

.NavbarIMG_Eraser{
  margin: 8px;
  width: 86px;
  height: 86px;
  border-radius: 100px;
  margin-left: auto;
}

.NavbarIMG_Decoration{
  width: 64px;
  height: 64px;
}

.NavbarIMG_Decoration_Inverted{
  width: 64px;
  height: 64px;
  transform: scaleX(-1);
}

img{
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -webkit-user-drag: none; /* Prefijo específico para navegadores WebKit */
  user-drag: none;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  transition: 0.2s ease-in-out;
}

a:hover {
  color: #450d86;
}

.HeaderPro {
  background-image: url(https://i.pinimg.com/originals/34/1e/80/341e800b1f29d3e34ea2eba5a6af205c.gif);
  background-repeat: repeat;
  width: 100%;
  height: 296px;
  margin: 0px 32px 0px 32px;
  z-index: 1;
}

.FooterPro {
  font-size: 14px;
  background-image: linear-gradient(to top, #1e0041 25%, #080808);
  display: flex;
  align-items: center;
  gap: 32px;
  width: 100%;
  height: 128px;
  margin-top: 32px;
  justify-content: center;
}

.MainPro {
  font-size: 14px;
  background-color: #36055e00;
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 32px;
  width: 90%;
  justify-content: center;
  padding: 16px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.ArticlePro {
  font-size: 14px;
  background-color: #110223;
  border-radius: 8px;
  width: 200px;
  min-height: 200px; 
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 16px;
}

.SectionPro {
  font-size: 14px;
  background-color: #17042e7d;
  border-radius: 8px;
  color: #fff;
  min-height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes show-gif {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
